/* stylelint-disable indentation */
body {
    background-color: rgb(253, 251, 251);
}

#cabecalho {
    top: 0;
    position: fixed;
    margin-bottom: 20px;
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
    color: black;

}

#minha_foto {
    border-radius: 500px;
    width: 500px;
    margin-top: 70px;


}
